.parag_class {
    color: red;
    color: aqua;
    color: #123;
    color: rgb(0,0,0);
    color: rgba(0,0,0,0.4);

    background-color: grey;

    text-align: center;
    padding-top: 20px;
    padding: 20px 10px 20px 10px;
    margin: 20px 10px 20px 10px;

    text-align: justify;
    font-size: 14px;
    font-style: italic;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: yellowgreen;

    column-count: 2;
    column-rule: 1px solid black;

}
p:hover {
    /* üzerine geldiğimizde zıt çalışır */
    color: black;
    background-color: yellowgreen;
    transition: 2s;
}

.div_class{
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    margin: 20px;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px black;
    transition: 2s;
    padding: 1%;


}
.div_class:hover{
    background-color: black;
    color: yellowgreen;
    transform: rotate(360deg);
    transition: 2s;
    border-radius: 5%;
    cursor: pointer;
    width: 45%;
    
}
img{
    max-width: 100%;
    height: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
font-size: 15px;
}
header{
    background-image: url("../utils/img/uckus.jpg");
    width: 100%;
    height: 400px;
    margin-bottom:1rem;
    background-size: cover;
    background-position: center;
}

body{
    background-color: orange;
}

ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: bl;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
    transition: 2s;
    border-radius: 10px;
}
ul li:hover{
    background-color: black;
    color: yellowgreen;
    transition: 2s all;
    border-radius: 5%;
    cursor: pointer;
    width: 45%;
    position:static;
    top: 0; 
}
#back_top{
    position: fixed;
    right: 0;
    bottom:0;
    background-color: blue;
    color:white;
    padding:0.1rem;
    opacity: 0.8;
    border-radius: 10%;
    }
#back_top:hover{
    opacity: 0.5;
}

.div_float{
    background-color: blue;
    color: white;
    width: 23%;
    display: inline-block;
    min-height: 50px;
    padding: 1rem;
    float: right;/* tersten başlat */
    margin-right: 10px;
    margin-right: 2rem;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.4);

}

.div_float:hover{
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
}

/* div_class_responsive */

.div_class_responsive{
    width: 200px;
    height: 200px;
    background-color: deeppink;
    margin: 20px;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px black;
    transition: 2s;
    padding: 1%;
}
/* 468<=RS<=767 */
@media(min-width: 768px) and (max-width: 980px){
    .div_class_responsive{
        width: 49%;
    }
}

/* 981<=RS<=1199 */
@media(min-width: 768px) and (max-width: 980px){
    .div_class_responsive{
        width: 32%;
    }
}

/* =RS<=1200 */
@media(min-width: 768px){
    .div_class_responsive{
        width: 24%;
    }
}
